html, body {
  height: 100%;
  
}
.jumbotron{
    color:black;
}
body{
    height: 100%;
    width: 100%;
}

.info{
    color:white;
}


.back{
    width:100%;
    height:100%;
    position: absolute;
    background-color: black;
}


.back3{
        
    background-image: url("images/back.png");
    background-size:100% 100%;
    color:white;
    
}
    
.row{
    margin-left: 0;
    margin-right: 0;
}

.pad{
    padding-bottom: 30px;
}




.navbar-default{
    margin-top:-15px;
    margin-left: -15px;
    margin-right: -15px;
}



.n{
    height: 20px;
   
}
 .center{
     text-align: center;
     margin: 0;
     padding:0;
 }
  .centerimg{
     margin:10%;
     width: 90%;
     
 }

.jumbotron{
    background-image: url("images/jumbo.png");
    background-size:100% 100%;
    padding:0;
    margin: 0;
}
.center-block
{
    max-height: 50%;
    max-width: 50%;
}

.footer{
 
  position:relative !important;
     right: 0;
     bottom: 0;
     left: 0;  
    width: 100%;
 
}
.info{
    padding:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.link{
    height: 180px;
    width: 300px;
}
.footimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width:425px ;
    max-height:125px ;
}

@media screen and (min-width:768px) {

    footer {
        position:fixed !important; bottom:0; 
    }
}

@media screen and (max-width:768px){
    .pad{
        padding-left:17%;
    }
}

@media screen and (max-width:400px){
    .pad{
        padding-left:0;
    }
}

